* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya", serif;
}

body {
  background-image: url(/images/bg_message_page.jpg);
  background-size: cover;
}

header {
  position: relative;
}

#navlogo {
  display: block;
  margin: 30px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  filter: drop-shadow(0 0px 3px rgb(48, 47, 47));
}

#nav.show {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
}

nav {
  display: none;
  width: 25%;
  height: 100%;
  background-color: #052138;
  color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
}

#navlogo:hover {
  cursor: pointer;
}

#closenav {
  position: absolute;
  right: 50px;
  top: 40px;
  cursor: pointer;
}

li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding-left: 10%;
  font-size: 24px;
  width: 100%;
}

nav li a::after {
  margin-left: 35px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

li a:hover::after {
  width: 50%;
}

li {
  margin: 15px;
  text-decoration: none;
  list-style: none;
}

.logo {
  width: 30%;
  padding-left: 4%;
}

hr {
  width: 90%;
  height: 0.1px;
  background-color: #c9c6c6;
  border: none;
  margin-top: 3px;
  margin-bottom: 10%;
}

#touch {
  margin-top: 10%;
  font-size: 12px;
  margin-bottom: 5%;
  font-family: sans-serif;
  padding-left: 12%;
}

#getintouch {
  padding-left: 12%;
  display: flex;
}

.logos {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: -35px;
}

.logos svg {
  margin: 8px;
}

.text {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.text p {
  margin: 5px;
  margin-left: 15px;
}

.navdet {
  padding-left: 10px;
  font-size: 18px;
}

.socials {
  padding-left: 20%;
  margin-top: 10%;
  margin-bottom: 15%;
}

.socials svg {
  margin-right: 20px;
}

.mainlogo {
  width: 80px;
  height: 100%;
}

.slide-in {
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-out {
  animation: slideout 0.5s ease backwards;
}

@keyframes slideout {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.blueOverlay {
  position: relative;
}

.blueOverlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 33, 58, 0.6); /* Blue color with 50% opacity */
}

/*********************************************************************/
/************************ Message Page Styles ************************/
/*********************************************************************/
.main_div {
  width: 45%;
  padding: 80px;
  padding-top: 130px;
  padding-left: 180px;
}

.heading a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.heading h1 {
  font-size: 50px;
  font-weight: 500;
}
.heading h2 {
  font-size: 36px;
  font-weight: 500;
  margin-top: 10px;
  padding-left: 140px;
}
.heading hr {
  background-color: #E1C27F;
  height: 5px;
  width: 35%;
  margin-left: 122px;
  margin-top: 2%;
}
.heading p {
  width: 84%;
  font-size: 19px;
  line-height: 1.5;
}

.main-container {
  display: flex;
  width: 100%;
}

.sticky-image {
  position: sticky;
  top: 90px;
  align-self: flex-start;
  margin-right: 190px;
  height: 540px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgb(140, 140, 140);
  margin-bottom: 70px;
  margin-top: 150px;
}

.main_div {
  flex-grow: 1;
}

/********************************************************/
/************************ FOOTER ************************/
/********************************************************/
footer {
  background-color: #052138;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer img {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
  padding-right: 100px;
}

footer .column {
  flex: 1;
  margin-right: 20px;
}

footer h3 {
  font-size: 28px;
  margin-bottom: 25px;
  padding-top: 20px;
  position: relative;
  font-weight: 400;
}

footer h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 30%;
  height: 2px;
  background-color: #E8B443;
}

footer ul li, footer p {
  margin-bottom: 10px;
}

footer ul li a, footer p {
  color: #fff;
  font-size: 17px;
  padding-left: 0;
}

footer ul li a {
  margin: -10px;
}

.footericon p, .footericon1 {
  display: inline-flex;
}

.footericon, .footericon1 {
  margin-bottom: 5px;
}

.footericon1 p {
  margin-right: 40px;
}

/************************************************************************/
/***************************** MEDIA QUERIES ****************************/
/************************** FOR RESPONSIVENESS **************************/
/************************************************************************/
/* Media Queries for viewport width upto 1680px */
@media screen and (min-width: 1531px) {
  .heading hr {
    margin-left: 125px;
  }
  .heading p {
    font-size: 22px;
    width: 80%;
  }
  .heading h1 {
    font-size: 60px;
  }
  .heading h2 {
    font-size: 40px;
    padding-left: 160px;
  }
}
/* Media Queries for viewport width upto 1680px */
@media screen and (max-width: 1380px) {
  .heading hr {
    margin-left: 0px;
  }
  .heading p {
    font-size: 21px;
    width: 100%;
  }
  .heading h1 {
    font-size: 42px;
  }
  .heading h2 {
    font-size: 35px;
    padding-left: 0px;
  }
}
/* Media Queries for viewport width upto 1680px */
@media screen and (max-width: 1080px) {
  .sticky-image {
    height: 440px;
    margin-right: 100px;
  }
  .heading h1 {
    font-size: 35px;
  }
  .heading h2 {
    font-size: 30px;
  }
  .heading p {
    font-size: 19px;
  }
  .main_div {
    padding-right: 70px;
    padding-left: 140px;
  }
}
/* Media Queries for viewport width upto 1680px */
@media screen and (max-width: 850px) {
  .sticky-image {
    height: 440px;
    margin-right: 100px;
    position: absolute;
    left: 230px;
    top: 0px;
  }
  .heading h1 {
    font-size: 30px;
  }
  .heading h2 {
    font-size: 25px;
  }
  .heading p {
    font-size: 19px;
    width: 90%;
  }
  .main_div {
    padding-right: 50px;
    padding-left: 120px;
    padding-top: 650px;
  }
  body {
    background-size: contain;
  }
}
/* Media Queries for viewport width upto 1680px */
@media screen and (max-width: 500px) {
  .sticky-image {
    height: 330px;
    margin-right: 100px;
    position: absolute;
    left: 100px;
    top: 0px;
  }
  .heading h1 {
    font-size: 25px;
  }
  .heading h2 {
    font-size: 20px;
  }
  .heading hr {
    height: 3px;
    width: 50%;
  }
  .heading p {
    font-size: 17px;
    width: 100%;
  }
  .heading a {
    font-size: 17px;
  }
  .main_div {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 550px;
  }
}
@media (max-width: 950px) {
  footer img {
    display: none;
  }
}
/* Media Queries for viewport width upto 1680px */
@media screen and (max-width: 380px) {
  .sticky-image {
    height: 330px;
    margin-right: 100px;
    position: absolute;
    left: 46px;
    top: 0px;
  }
  .heading h1 {
    font-size: 25px;
  }
  .heading h2 {
    font-size: 20px;
  }
  .heading hr {
    height: 3px;
    width: 50%;
  }
  .heading p {
    font-size: 17px;
    width: 100%;
  }
  .heading a {
    font-size: 17px;
  }
  .main_div {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 550px;
  }
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .column {
    margin-right: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .column {
    width: 100%;
  }
  .column3 {
    display: none;
  }
  footer img {
    padding-right: 0;
    margin-left: 20%;
  }
  footer h3 {
    font-size: 30px;
  }
  footer h3:after {
    width: 20%;
    left: 40%;
  }
  footer ul li a, footer p {
    font-size: 20px;
  }
  .footericon1 p {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  footer img {
    width: 200px;
  }
  footer h3 {
    font-size: 20px;
  }
  footer h3:after {
    width: 20%;
  }
  footer ul li a, footer p {
    font-size: 13px;
  }
  .footericon1 p {
    margin-right: 20px;
  }
}/*# sourceMappingURL=message.css.map */